<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content"  class="container mx-auto max-w-screen-md flex justify-center flex-wrap">
    <div class="w-full border-b-4 border-[#FF9292]">
        <div>
            <h1 class="font-bold">회원 가입 페이지</h1>
        </div>
    </div>
    <div class="block p-6 rounded-lg shadow-lg bg-white w-full mb-10">
        <form th:action="@{/user/sign-up}" th:object="${userFormDto}" method="post">
            <div th:replace="form_errors :: formErrorsFragment"></div>
              <div class="flex flex-col">
                  <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"id="warn_id" hidden></div>
                  <label class="form-label mt-3">사용자ID</label>
                   <div class="form-group mb-6">
                       <input type="text" th:field="*{username}"oninput="id_check(this)" class="form-control
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput123"
                                   aria-describedby="emailHelp123" placeholder="아이디 입력">
                        </div>
                    </div>
                    <div class="form-group mb-6">
                        <label class="form-label">이메일 입력</label>
                        <input oninput="email_check(this)" type="email" th:field="*{email}" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput125"
                               placeholder="Email address">
                    </div>
                    <div class="form-group mb-6">
                        <label class="form-label">비밀번호 입력</label>
                        <input type="password" th:field="*{password1}" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
                               placeholder="Password">
                    </div>
             <div class="form-group mb-6">
                 <label class="form-label">비밀번호 재입력</label>
                 <input type="password" th:field="*{password2}" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
                        placeholder="Password">
             </div>
                    <button type="submit" class="
      w-full
      px-6
      py-2.5
      bg-[#EC7272]
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-[#FC4F4F] hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out">회원가입</button>
                </form>
        </div>
    <script>
    function id_check(e)  {
    var expression = RegExp(/[^a-zA-Z0-9]/);
    if(expression.test(e.value)){
    $("div[id=warn_id]").show();
     $("div[id=warn_id]").text("사용자ID 에는  영어,숫자 만 입력 가능합니다.");
    e.value = e.value.replace(/[^a-zA-Z0-9]/, '');
    }else{
    $("div[id=warn_id]").text("");
    $("div[id=warn_id]").hide(); // display 속성을 none 으로 바꾼다.
    }
    }
    </script>
</th:bloack>
</html>