<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 폰트 어썸 -->
    <script src="https://use.fontawesome.com/7fa2757e91.js"></script>
    <!-- 데이지 UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>안녕!</title>
    <!--csrf 토큰-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--tagify-->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</head>
<body class="flex flex-col min-h-screen">
<!-- 네비게이션바 -->
<nav th:replace="navbar :: navbarFragment"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="flex-grow">
    <th:block layout:fragment="content"></th:block>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- footer -->
<footer th:replace="footer :: footerFragment"></footer>
</body>
</html>