<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 폰트 어썸 -->
    <script src="https://kit.fontawesome.com/2708bf20c0.js" crossorigin="anonymous"></script>
    <!-- 테일윈드 -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Recipia</title>
</head>
<body>
    <!-- 각 페이지 코드가 들어갈 곳-->
    <th:block layout:fragment="content"></th:block>
</body>
</html>