<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 폰트 어썸 -->
    <script src="https://kit.fontawesome.com/2708bf20c0.js" crossorigin="anonymous"></script>
    <!-- 데이지 UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>안녕!</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>