<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- 폰트어썸 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- 프론트엔드 라이브러리 CDN 주소모음 : https://cdnjs.com/ -->
<!-- 폰트어썸 아이콘 리스트 : https://fontawesome.com/search?m=free -->

<!-- header -->
<header>
    <div class="display-flex bg-gray-200">
        <button type="button1" class="px-6 m-3 py-2.5 bg-gray-600 text-white font-medium text-s rounded hover:bg-gray-400">레시피아</button>

        <button type="button2" class=" float-right m-3 px-5 py-2.5 bg-gray-600 text-white font-medium text-xs uppercase rounded hover:bg-gray-400">MY PAGE</button>
        <button type="button3" class=" float-right mt-3 px-5 py-2.5 bg-gray-600 text-white font-medium text-xs uppercase rounded hover:bg-gray-400">Log In</button>
    </div>
</header>


<!-- info -->
<div class="flex justify-center">
    <div type="userImage" class="mt-20 h-32 w-32 p-4 border-4 bg-black rounded "></div>
</div>

<div class="flex justify-center">
    <div type="userName" class="mt-5 mx-1 p-1 bg-white rounded text-red-500 text-m">홍길동</div>
</div>

<div class="flex justify-center">
    <div type="userName" class="text-black text-xs ">seonggu1@naver.com</div>
</div>


<!-- 각 페이지 -->
<div>
    <!-- image -->
    <div class="flex justify-center mt-10">
        <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
                alt="..."
        />
        <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
                alt="..."
        />
        <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
                alt="..."
        />
        <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
                alt="..."
        />
        <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
                alt="..."
        />
    </div>


    <!-- button -->
    <div class="flex justify-center mt-1">
        <button type="bookmark" class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
        <button type="bookmark" class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
        <button type="bookmark" class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
        <button type="bookmark" class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
        <button type="bookmark" class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
    </div>
</div>

