<nav th:fragment="navbarFragment" class="navbar p-0 mb-6 navbar-expand-lg navbar-light bg-light">
        <div class="navbar bg-neutral text-neutral-content">
            <div class="grow">
                <a class="btn btn-ghost normal-case text-xl" href="/user/home">Recipia</a>
            </div>
<!--            <a class="btn btn-ghost normal-case text-xl" href="/user/login">Login</a>-->
            <a class="nav-link btn btn-ghost normal-case text-xl" sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
            <a class="nav-link btn btn-ghost normal-case text-xl" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
            <a class="btn btn-ghost normal-case text-xl" href="/user/sign-up">SignUp</a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
            </a>
        </div>
</nav>