<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
</head>
<body>
<!-- 소스 다운 -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<!--jquery-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- 폴리필 (구버젼 브라우저 지원) -->
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

<!-- 해시 태그 정보를 저장할 input 태그. (textarea도 지원) -->


<form action="/" method="post">
    <input  type="hidden"  th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
    <input name='searchInput'>

    <button type="submit">전송</button>
</form>
<script>

 var input = document.querySelector('input[name=searchInput]')
        new Tagify(input)

</script>
</body>
</html>