<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">

    <form method="post" th:object="${postFormDto}" enctype="multipart/form-data" th:onsubmit ="return image_check()">
        <input  type="hidden"  th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
        <div class="flex flex-col px-60">
            <div>
                <label class="block mb-2 text-sm font-bold text-gray-900">제목</label>
                <input type="text" th:field="*{title}" class="block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg   w-full p-2.5" placeholder="제목" required>
            </div>
            <div>
                <label class="block mb-2 text-sm font-bold text-gray-900">내용</label>
                <textarea th:field="*{content}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="내용" required></textarea>
            </div>
             <div>
                <label>태그</label>
                <input th:type="text"  th:field="*{tagContent}" placeholder="재료를 입력하시오.">
            </div>


                <label class="block mb-2 text-sm font-bold text-gray-900">이미지</label>
                <div th:if="${#lists.isEmpty(postFormDto.postImgDtoList)}">
                    <div data-name="fileDiv">
                        
                            <div class="flex mb-1">
                                <input type="text"  name="imgNames" class="imgNames text-lg  border rounded-lg font-bold flex-grow" style="background-color: rgba(209, 213, 219, 1);" value="파일"  readonly/>
                                <label for="file_0" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20">파일선택</label>
                                <input type="file" id="file_0" name="files" onchange="changeFilename(this,0)" accept=".jpg,.jpeg,.png,.gif,.bmp" hidden>
                                <button type="button" onclick="addFile()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                                <div>
                                    <img th:id="LoadImg_0"class="object-fill w-96 h-96">
                                </div>
                    
                    </div>
                </div>

                <!--     수정폼           -->
                <div th:if="${not #lists.isEmpty(postFormDto.postImgDtoList)}">
                   <div th:each="postImgDto,idx:${postFormDto.postImgDtoList}">
                       <input type="text" th:value="${postImgDto.id}" name="postImgIds" hidden>
                        <div data-name="fileDiv">
                            <div class="flex mb-1">
                                <input type="text" name="imgNames"  class="imgNames text-lg  border rounded-lg font-bold flex-grow" style="background-color: rgba(209, 213, 219, 1);" th:value="${postImgDto.oriImgName}"  readonly/>
                                <label th:for="'file_'+${idx.index}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20">파일선택</label>
                                <input type="file" th:id="'file_'+${idx.index}" name="files" th:onchange="changeFilename(this,[[${idx.index}]])" accept=".jpg,.jpeg,.png,.gif,.bmp" hidden>
                                <button th:if="${idx.index}==0"type="button" onclick="addFile()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button th:if="${idx.index}>=1" type="button" onclick="removeFile(this)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </div>
                                <div>
                                    <img th:id="'LoadImg_'+${idx.index}"class="object-fill w-96 h-96" th:src="@{${postImgDto.imgUrl}}" >
                                </div>
                        </div>
                   </div>
                </div>

                <div class="btnDiv"th:if="${postFormDto.id == 0}">
                    <button type="submit" th:formaction="@{/posts}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-2">게시물 등록</button>
                </div>

                <div  class="btnDiv" th:if="${postFormDto.id != 0}">
                    <button type="submit" th:formaction="@{|/posts/${postFormDto.id}/modify|}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-2">게시물 수정</button>
                </div>
        </div>
    </form>

    <script>
function changeFilename(file,idx) {
	file = $(file);
	const filename = file[0].files[0].name;
	const target = file.prevAll("input[name=imgNames]");
	target.val(filename);
	LoadImg(file[0],idx);
}

	function LoadImg(value,idx)
		{
			if(value.files && value.files[0])
			{
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#LoadImg_'+idx).attr('src', e.target.result);
				}

				reader.readAsDataURL(value.files[0]);
			}
		}


function addFile() {

	const fileDivs = $('div[data-name="fileDiv"]');
	if (fileDivs.length > 2) {
		alert('파일은 최대 세 개까지 업로드 할 수 있습니다.');
		return false;
	}

	const fileHtml = `
	   <div data-name="fileDiv">
                    <div class="flex mb-1">
                            <input type="text" name="imgNames" class="imgNames text-lg  border rounded-lg font-bold flex-grow" style="background-color: rgba(209, 213, 219, 1);" value="파일"  readonly/>
                            <label for="file_${fileDivs.length}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20">파일선택</label>
                            <input type="file" id="file_${fileDivs.length}" name="files" onchange="changeFilename(this,${fileDivs.length})" accept=".jpg,.jpeg,.png,.gif,.bmp" hidden>
                            <button type="button" onclick="removeFile(this)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1  ml-1 w-20"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                    <div>
                        <img id="LoadImg_${fileDivs.length}" class="object-fill w-96 h-96" hidden>
                    </div>
       </div>
	`;

	$('.btnDiv').before(fileHtml);
}

function removeFile(elem) {

	const prevTag = $(elem).prev().prop('tagName');
	if (prevTag === 'BUTTON') {
		const file = $(elem).prevAll('input[type="file"]');
		const filename = $(elem).prevAll('input[type="text"]');
		file.val('');
		filename.val('파일 찾기');
		return false;
	}
	$(elem).prevAll().remove();
	$(elem).parents('div[data-name="fileDiv"]').remove();
	$(elem).parents('div[class="flex"]').remove();
}

function image_check(){
if($('.imgNames').last().val() == '파일'){
alert('이미지가 비어있습니다!! 창을 삭제해주세요!!');
return false;
}

}
    </script>
</th:bloack>

</html>