<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">
<main class="min-h-screen ">
    <div class="flex justify-center">
        <form class="flex items-center w-96" th:action="@{/posts/list}">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="재료를 입력해주세요." required>
            </div>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
            </button>
        </form>
    </div>
    <div class="flex flex-wrap m-10 justify-center gap-4">
    <div th:each="post : ${posts}">

        <div class="card w-100 bg-base-100 shadow-xl">
            <figure ><a th:href="@{|/posts/${post.id}|}"><img th:src="${post.imgUrl}" alt="Shoes"/></a></figure>
            <div class="card-body">
                <h2 class="card-title">
                    <p th:text="${post.title}"></p>
                    <div class="badge badge-secondary">tag1</div>
                    <div class="badge badge-secondary">tag2</div>
                </h2>
                <div class="card-actions justify-end">
                    <div class="badge badge-outline" th:text="|score : ${post.score}|"></div>
                    <div class="badge badge-outline" th:text="|views : ${post.views}|"></div>
                    <div class="badge badge-outline" th:text="|likes : ${post.likes}|"></div>
                </div>
            </div>
        </div>
    </th:each>
    </div>
    </div>
</main>
</th:bloack>
</html>