<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">

    <form  method="post" th:object="${postFormDto}" enctype="multipart/form-data">
        <!--토큰삽입-->
        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="flex flex-col border-black border-4 m-3">
            <label>title</label>
            <input  type="text"  th:field="*{title}">
        </div>

        <div class="flex flex-col border-red border-4 m-3">
            <label>content</label>
            <input type="text" th:field="*{content}">
        </div>

        <div class="flex flex-col border-blue border-4 m-3">
            <label>images</label>
            <input multiple="multiple" type="file"  th:name="imgFile">
        </div>
        <div>
            <button>submit</button>
        </div>
    </form>
</th:bloack>
</html>