<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">
<main class="min-h-screen ">
    <div class="flex flex-wrap m-10 justify-center gap-4">
    <div th:each="post : ${posts}">

        <div class="card w-100 bg-base-100 shadow-xl">
            <figure ><a th:href="@{|/posts/${post.id}|}"><img th:src="${post.imgUrl}" alt="Shoes"/></a></figure>
            <div class="card-body">
                <h2 class="card-title">
                    <p th:text="${post.title}"></p>
                    <div class="badge badge-secondary">tag1</div>
                    <div class="badge badge-secondary">tag2</div>
                </h2>
                <div class="card-actions justify-end">
                    <div class="badge badge-outline" th:text="|score : ${post.score}|"></div>
                    <div class="badge badge-outline" th:text="|views : ${post.views}|"></div>
                    <div class="badge badge-outline" th:text="|likes : ${post.likes}|"></div>
                </div>
            </div>
        </div>


    </th:each>
    </div>
    </div>
</main>
</th:bloack>
</html>