<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">


<!--ajax 통신을 위한 함수-->
<script>
    function commentDelete (postId, commentId) {
        $.ajax({
            // 댓글 삭제
            type: "GET",
            url: `/posts/${postId}/reply/${commentId}`,
            dataType: "text"
        }).done(function (res) {
            alert("댓글 삭제 성공");
            location.href = `/posts/${postId}`;
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }
</script>
<script>
    function dataSend() {
        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');
        let data = {
            content: $("#comment").val(),
        };
        data.content = data.content.trim();
        if (data.content.length == 0){
            alert("빈 댓글은 입력이 되지않습니다.");
            $("#comment").focus();
            return false;
        }

        let postId = $("#postId").val();
        $.ajax({
                url: `/posts/${postId}/reply`,
                data: JSON.stringify(data),
                type:"POST",
                contentType:"application/json; charset=utf-8",
                dataType: "text",
                beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
                },
            }).done(function (req) {
                location.href=`/posts/${postId}`;
            }).fail(function (error) {
            alert(JSON.stringify(error));
        });
        $("#comment--ajax").focus();
    }
</script>
    <div class="flex flex-col px-60">
    <div class="p-6  bg-white rounded-lg border border-gray-200 shadow-md">

        <div class="flex flex-col w-full">
           <div class="flex">
               <div  th:each="hashTagContent : ${postDetailDto.hashTagContentList}">
                   <a class="badge badge-secondary mr-1 bg-[#FF5B00]" th:text="${hashTagContent}"></a>
               </div>
           </div>
            <div >
                <h5 class="break-words  mb-2 text-2xl font-bold tracking-tight text-gray-900" th:text="${postDetailDto.title}">제목</h5>
            </div>
        </div>

        <div >
            <p class="break-words  mb-3 font-normal text-gray-700" th:text="${postDetailDto.content}">내용</p>
        </div>


        <div class="flex justify-end">
            <a th:href="@{|/posts/${postDetailDto.id}/modify|}" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == postDetailDto.username}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-[#EC7272] hover:bg-[#FC4F4F] rounded-lg  focus:ring-4 focus:outline-none focus:ring-blue-300">
                글수정
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            </a>
            <a th:href="@{|/posts/${postDetailDto.id}/delete|}"sec:authorize="isAuthenticated()"   th:if="${#authentication.getPrincipal().getUsername() == postDetailDto.username}"  class="inline-flex ml-2 items-center py-2 px-3 text-sm font-medium text-center text-white bg-[#EC7272] hover:bg-[#FC4F4F] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                삭제
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            </a>
        </div>

    </div>
    <div class="bg-white rounded-lg border border-gray-200 shadow-md flex justify-center"th:each="postImgDto:${postDetailDto.postImgDtoList}">
        <img th:src="${postImgDto.imgUrl}">
    </div>
    <!--댓글 파트-->
    <div>
        <!-- 댓글 쓰는 부분-->
        <form>
            <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600">
                <!-- hidden 값들 -->
                <input type="hidden" id="postId" th:value="${postDetailDto.id}">
                <div class="py-2 px-4 bg-white rounded-t-lg dark:bg-gray-800">
                    <label class="sr-only">댓글 작성하기</label>
                    <textarea sec:authorize="isAnonymous()" disabled rows="4" class="px-0 w-full text-sm text-gray-900 bg-gray border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" required=""></textarea>
                    <textarea sec:authorize="isAuthenticated()" id="comment" rows="4" class="px-0 w-full text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="댓글을 입력해주세요..." required=""></textarea>
                </div>
                <div class="flex justify-between items-center py-2 px-3 border-t dark:border-gray-600">
                    <button type="button" onclick="dataSend()" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#EC7272] hover:bg-[#FC4F4F] rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900">
                        댓글 작성
                    </button>
                </div>
            </div>
        </form>
        <!--댓글보여질 div-->
        <div id="resultDiv">

            <ul class="text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white mb-10">
                <li class="py-2 px-4 w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">댓글 리스트</li>
                <div th:each="comment : ${postDetailDto.commentList}">
                    <li id="comment--ajax" class="flex py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600">
                        <div class="flex-grow break-all " th:text="${comment.content}">
                            댓글 내용입니다.
                        </div>
                        <div class="flex">
                            <div class="m-3" th:text="${comment.siteUser.username}">작성자
                            </div>
                            <button type="button" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == comment.siteUser.username}" th:onclick="|commentDelete('${postDetailDto.id}', ${comment.id})|" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">삭제</button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

</th:bloack>
</html>
