<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">
    <form method="post" th:object="${postFormDto}" enctype="multipart/form-data" th:onsubmit ="return image_check()">
        <input  type="hidden"  th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
        <div class="flex flex-col px-60">
            <div>
                <label class="block mb-2 text-sm font-bold text-gray-900">제목</label>
                <input type="text" th:field="*{title}" class="block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg   w-full p-2.5" placeholder="제목" required>
            </div>
            <div>
                <label class="block mb-2 text-sm font-bold text-gray-900">내용</label>
                <textarea th:field="*{content}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="내용" required></textarea>
            </div>

            <div>

                <label class="block mb-2 text-sm font-bold text-gray-900">이미지</label>

                <div class="flex w-full">
                    <label class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer hover:bg-gray-100">
                        <div class="flex flex-col justify-center items-center pt-5 pb-6">
                            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input  type="file" th:id="imgFile" th:name="imgFile" multiple="multiple" class="hidden" onchange="setThumbnail(event);"/>
                    </label>
                </div>
            </div>
            <div id="preview_image_container" class="flex flex-col w-full  border-red border-4 mt-5 hidden">
            </div>
            <div>
                <input th:type="text"  th:field="*{tagContent}" placeholder="재료를 입력하시오.">
            </div>
            <div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-2">게시물 등록</button>
            </div>
        </div>
    </form>

    <script>
   function image_check(){
   if(document.getElementById("imgFile").value==''){
	alert("이미지를 1개이상 넣어주세요.");
	return false;
    }
    return true;
   }
      function setThumbnail(event) {
      $('#preview_image_container').show();
      $('img').remove();
        for (let image of event.target.files) {
          let reader = new FileReader();

          reader.onload = function(event) {
          var div = document.createElement("div");
            var img = document.createElement("img");
            div.setAttribute("class", " flex items-center justify-center");
            img.setAttribute("src", event.target.result);
             img.setAttribute("class", " object-cover w-96 h-96 ");
             div.appendChild(img);
            document.querySelector("div#preview_image_container").appendChild(div);
          };

          console.log(image);
          reader.readAsDataURL(image);
        }
      }
    </script>
</th:bloack>

</html>