<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">

<th:bloack layout:fragment="content">

<div class="flex flex-col px-60">
    <div class="p-6  bg-white rounded-lg border border-gray-200 shadow-md">

        <div class="flex flex-col w-full">
           <div class="flex">
               <div  th:each="hashTagContent : ${postDetailDto.hashTagContentList}">
                   <a class="badge badge-secondary mr-1" th:text="${hashTagContent}"></a>
               </div>
           </div>
            <div >
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900" th:text="${postDetailDto.title}">제목</h5>
            </div>
        </div>

        <div>
            <p class="mb-3 font-normal text-gray-700" th:text="${postDetailDto.content}">내용</p>
        </div>


        <div class="flex justify-end">
            <a th:href="@{|/posts/${postDetailDto.id}/modify|}" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == postDetailDto.username}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                글수정
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            </a>
            <a th:href="@{|/posts/${postDetailDto.id}/delete|}" th:if="${#authentication.getPrincipal().getUsername() == postDetailDto.username}"  class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                삭제
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            </a>
        </div>

    </div>
    <div class="bg-white rounded-lg border border-gray-200 shadow-md flex justify-center"th:each="postImgDto:${postDetailDto.postImgDtoList}">
        <img th:src="${postImgDto.imgUrl}">
    </div>
</div>
</th:bloack>
</html>
