<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <title>회원 정보 수정</title>

    <script>
            function ModifyForm__submit(form) {

                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    alert("아이디를 입력해주세요.");
                    form.username.focus();
                    return;
                }

                form.password.value = form.password.value.trim();

                if (form.password.value.length == 0) {
                    alert("비밀번호를 입력해주세요.");
                    form.password.focus();
                    return;
                }

                form.email.value = form.email.value.trim();

                if (form.email.value.length == 0) {
                    alert("이메일을 입력해주세요.");
                    form.email.focus();
                    return;
                }

                form.submit();
            }

        </script>


    <form th:action method="POST" enctype="multipart/form-data" onsubmit="ModifyForm__submit(this); return false;">
        <div>
            <span>아이디</span>
            <span th:text="${#authentication.principal.username}"></span>
        </div>
        <div>
            <span>비밀번호</span>
            <span th:text="${#authentication.principal.password}"></span>
        </div>
        <div>
            <span>이메일</span>
            <span th:text="${#authentication.principal.email}"></span>
        </div>
        <div>
            <span>닉네임</span>
            <span th:text="${#authentication.principal.nickname}"></span>
        </div>
        <div>
            <span>수정</span>
            <input type="submit" value="수정">
        </div>

    </form>


</th:block>

</html>