<!DOCTYPE html>

<!-- info -->
<div class="flex justify-center">
  <div class="mt-20 h-32 w-32 p-4 border-4 bg-black rounded "></div>
</div>

<div class="flex justify-center">
  <div class="mt-5 mx-1 p-1 bg-white rounded text-red-500 text-m">홍길동</div>
</div>

<div class="flex justify-center">
  <div class="text-black text-xs ">seonggu1@naver.com</div>
</div>


<!-- 각 페이지 -->
<div>
  <!-- image -->
  <div class="flex justify-center mt-10">
    <img
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
            alt="..."
    />
    <img
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
            alt="..."
    />
    <img
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
            alt="..."
    />
    <img
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
            alt="..."
    />
    <img
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class="p-1 mx-10 bg-white border rounded max-w-sm h-20 w-20"
            alt="..."
    />
  </div>


  <!--각 페이지로 넘어가기위한 button -->
  <div class="flex justify-center mt-1">
    <button class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
    <button class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
    <button class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
    <button class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
    <button class="w-20 mx-10 py-1 bg-gray-700 text-white font-xs text-s rounded hover:bg-gray-400">북마크</button>
  </div>
</div>
</html>
