<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <title>회원 정보 수정</title>

    <script>
            function ModifyForm__submit(form) {

                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    alert("아이디를 입력해주세요.");
                    form.username.focus();
                    return;
                }

                form.password.value = form.password.value.trim();

                if (form.password.value.length == 0) {
                    alert("비밀번호를 입력해주세요.");
                    form.password.focus();
                    return;
                }

                form.email.value = form.email.value.trim();

                if (form.email.value.length == 0) {
                    alert("이메일을 입력해주세요.");
                    form.email.focus();
                    return;
                }

                form.submit();
            }

        </script>


    <form th:action th:object="${myPageDto}" method="POST"  onsubmit="ModifyForm__submit(this); return false;">
        <div class="flex justify-center mt-3 ">
            <span>아이디 : &nbsp</span>
            <input type="text" th:field="*{username}" class="form-control" rows="1" readonly></input>

        </div>

        <div class="flex justify-center mt-3">
            <span> 이메일 : &nbsp</span>
            <div th:text="${myPageDto.email}"></div>
        </div>

        <div class="flex justify-center mt-3">
        <input type="email"  th:field="*{email}" value="-"  rows="1">
        </div>


        <div class="flex justify-center mt-3">
            <span>닉네임 : &nbsp</span>
            <div th:text="${myPageDto.nickname}"></div>
        </div>

        <div class="flex justify-center mt-3">
            <input type="text" placeholder="변경할 닉네임을 적어주세요." th:field="*{nickname}"  rows="1">
        </div>


        <div class="flex justify-center mt-3">
            <input type="submit" value="수정">
        </div>

    </form>


</th:block>

</html>