<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layout}">
<head>
    <style>
        input{
            width : 100%;
            max-width: 700px;
            border:1px solid #000000; font-weight: bold;
        }
    </style>
</head>

<th:bloack layout:fragment="content">

    <body>
    <form method="post" th:object="${hashTagFormDto}" enctype="multipart/form-data">
        <h1>해시태그 페이지</h1>
        <div>
            <input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </div>
        <div>
            <input th:type="text"  th:field="*{tagContent}" placeholder="재료를 입력하시오.">
        </div>
        <div>
            <button type="submit">검색</button>
        </div>
    </form>

    </body>

</th:bloack>

</html>





